<footer class="bg-gray-100 py-8 px-8">
  <div class="container mx-auto px-4">
      <div class="flex flex-col md:flex-row justify-between mb-8">
          <div class="mb-6 md:mb-0">
              <h3 class="font-bold text-gray-700 mb-3">Location</h3>
              <p class="text-gray-600 mb-2">123, Main Street</p>
              <p class="text-gray-600 mb-2">Coimbatore, India</p>
              <p class="text-gray-600 mb-4">PIN-641001</p>

              <div class="flex flex-col space-y-2">
                  <a href="#" class="bg-teal-700 text-white py-2 px-4 rounded inline-flex items-center justify-center w-47">
                      <i class="fas fa-map-marker-alt mr-2"></i> Get Directions
                  </a>
                  <a href="tel:9999991234" class=" bg-teal-700 text-white py-2 px-4 rounded inline-flex items-center justify-center w-47">
                      <i class="fas fa-phone mr-2"></i> Call Us
                  </a>
              </div>
          </div>

          <div class="mb-6 md:mb-0">
              <h3 class="font-bold text-gray-700 mb-3">Discover StreamHawkX</h3>
              <ul class="text-gray-600 space-y-2">
                  <li><a (click)="navigateTo('home')" class="hover:text-teal-800">Home</a></li>
                  <li><a (click)="navigateTo('about')" class="hover:text-teal-800">About Us</a></li>
                  <li><a (click)="navigateTo('services')" class="hover:text-teal-800">Services</a></li>
                  <li><a (click)="navigateTo('feedback')" class="hover:text-teal-800">Contact Us & Feedback</a></li>
                  <li><a href="#" class="hover:text-teal-800">Privacy Policy</a></li>
              </ul>
          </div>

          <div class="mb-6 md:mb-0">
              <h3 class="font-bold text-gray-700 mb-3">Medical Services</h3>
              <ul class="text-gray-600 space-y-2">
                  <li><a href="#" class="hover:text-teal-800">Find a Doctor</a></li>
                  <li><a href="#" class="hover:text-teal-800">Request an Appointment</a></li>
                  <li><a href="#" class="hover:text-teal-800">International Patients</a></li>
                  <li><a href="#" class="hover:text-teal-800">Telemedicine</a></li>
              </ul>
          </div>

          <div>
              <h3 class="font-bold text-gray-700 mb-3">Health Library</h3>
              <ul class="text-gray-600 space-y-2">
                  <li><a href="#" class="hover:text-teal-800">Health Encyclopedia</a></li>
                  <li><a href="#" class="hover:text-teal-800">Patient Education Resources</a></li>
                  <li><a href="#" class="hover:text-teal-800">Preventative Health Guidelines</a></li>
                  <li><a href="#" class="hover:text-teal-800">First Aid Information</a></li>
                  <li><a href="#" class="hover:text-teal-800">Nutrition and Fitness</a></li>
              </ul>
          </div>
      </div>

      <div class="border-t border-gray-300 pt-6 flex flex-col md:flex-row justify-between items-center">
          <p class="text-gray-600 mb-4 md:mb-0">&copy; 2025 StreamHawkX Hospital. All rights reserved.</p>
          <div class="flex space-x-4">
              <a href="https://www.facebook.com/login/" class="text-gray-600 hover:text-teal-800"><i class="fab fa-facebook-f"></i></a>
              <a href="https://x.com/i/flow/login?lang=en" class="text-gray-600 hover:text-teal-800"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/accounts/login/?hl=en" class="text-gray-600 hover:text-teal-800"><i class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/feed/" class="text-gray-600 hover:text-teal-800"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://mail.google.com/mail/u/0/#inbox" class="text-gray-600 hover:text-teal-800"><i class="fas fa-envelope"></i></a>
          </div>
      </div>
  </div>
</footer>
